<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    
    <title>이메일발송</title>
</head>
<body>
	<input type="email" class="address"> 
	<input type="text"  class="title"> 
	<input type="text"  class="message"> 
	<button type="button" class="submit">발송</button>
	    <script type="text/javascript" src="/static/js/findPassword.js"></script>
	
</body>
</html>