<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stussy signin</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/auth/signup.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-info-1">
                <p>배송 지연 안내</p>
            </div>
            <div class="header-info-2">
                <div class="h-info-box-1">
                    <h1>
                        <img src="/image/header/logo.png" alt="logo">
                    </h1>
                    <div class="nav-info">
                        <p class="nav-click-menu">SHOP</p>
                    </div>
                </div>
                <div class="h-info-box-2">
                    <p>SEARCH</p>
                    <p>BAG</p>
                    <img src="/image/header/korea-mark.png" alt="">
                </div>
            </div>
        </header>
        <main>
            <article class="signup-page-menu">
                <div class="account-title">                  
                    <p>ACCOUNT</p>
                </div>
                <section class="signup-info">
                    <div class="signup-info-title">
                        <p>CREATE ACCOUNT</p>  
                    </div>
                    <div class="name-box-info">
                        <form>
                            <input type="text" placeholder="First Name">
                            <input type="text" placeholder="Last Name">
                        </form>
                    </div>
                    <div class="signup-box-info">
                        <form>
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Password">
                        </form>
                    </div>
                    <div class="signup-btn-info">
                        <form action="">
                            <button class="create-click-btn">CREATE</button>
                        </form>
                        <div class="back-to-login-btn">
                            <p>Back to login</p>
                        </div>
                    </div>
                </section>
            </article>
        </main>
        <footer></footer>
    </div>
</body>
</html>