<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkouts</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/checkouts/checkouts-card.css">
</head>
<body>
    <div id="container">
        <article>
            <section class="checkouts-card-info-area">
                <div class="checkouts-card-info">
                    <div class="card-info-header">
                        <h1 class="card-info-hedaer-logo">
                            <img src="/static/images/checktous-card/logo.png" alt="">
                        </h1>
                        <ul class="card-info-order-proceeding">
                            <li class="order-proceeding-txt">카트</li>
                            <li>⟩</li>
                            <li class="order-proceeding-txt">정보</li>
                            <li>⟩</li>
                            <li class="order-proceeding-txt">배송</li>
                            <li>⟩</li>
                            <li class="order-proceeding-txt">지급</li>
                        </ul>
                    </div>
                    <div class="card-info-main-area">
                        <div class="card-info-main-user-profile-area">
                            <ul class="card-info-main-profile">
                                <li>연락처</li>
                                <li class="card-info-main-userid">
                                    <form action="">
                                        <input type="text" disabled placeholder="izx43@naver.com">
                                    </form>
                                </li>
                                <li>변경</li>
                            </ul>
                            <ul class="card-info-main-shipping-arrival">
                                <li>배송 도착지</li>
                                <li class="card-info-main-user-addresses-info">
                                    <form action="">
                                        <input type="text" disabled placeholder="부산 ??????????">
                                    </form>
                                </li>
                                <li>변경</li>
                            </ul>
                            <ul class="card-info-main-way-shipping">
                                <li>방법</li>
                                <li>
                                    <form action="" class="shipping-type-name">
                                        <p>일반택배 ·</p>
                                        <input type="text" disabled placeholder="2500원">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="card-info-main-security-box">
                            <div class="card-info-main-security-txt card-info-main-txt">
                                <h2>지급</h2>
                                <p>모든 거래는 안전하고 암호화되어 있습니다.</p>
                            </div>
                            <div class="card-info-main-card-type-list">
                                <div>
                                    <img src="/static/images/checktous-card/card-type.png" alt="">
                                </div>
                            </div>
                            <div class="card-info-main-card-content">
                                <img src="/static/images/checktous-card/checkouts-card-main-security.png" alt="">
                                <p>"주문 완료 " 을 클릭한 후, 주문을 안전하게 완료하기 위해 KG Inicis (New) 로 다시 연결됩니다.</p>
                            </div>
                        </div>
                        <div class="card-info-main-claim-address">
                            <div class="card-info-main-claim-address-txt card-info-main-txt">
                                <h2>배송 방법</h2>
                            </div>
                            <ul class="card-info-main-diffrence-addresses-box-area">
                                <li class="shipping-type-btn">
                                    <div>
                                        <input type="radio" id="shipping-type-btn" name="addresses" checked>
                                        <label for="shipping-type-btn">일반 배송</label>
                                    </div>
                                    <form action="">
                                        <input type="text" placeholder="?" class="shipping-type" disabled>
                                    </form>
                                </li>
                            </ul>
                            <div class="card-info-main-footer">
                                <ul class="card-main-footer-btns">
                                    <li class="back-to-shipping">
                                        <p>⟨</p>
                                        <p>배송으로 돌아가기</p>
                                    </li>
                                    <li>
                                        <button class="complete-shipping-btn"><a href="/import">주문 완료</a></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-info-footer">
                                <ul>
                                    <li>환불 정책</li>
                                    <li>배송 정책</li>
                                    <li>개인정보처리방침</li>
                                    <li>서비스 약관</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="checkouts-product-info-area">
                <div class="checkouts-product-info">
                    <div class="product-photo-name-info">
                        <ul>
                            <li class="product-photo">
                                <img src="" alt="">
                                <div class="product-count">
                                    <p>1</p>
                                </div>
                            </li>
                            <li class="product-name">
                                <p>GUMBALL TEE</p>
                                <p>Black / S</p>
                            </li>
                        </ul>
                        <div class="product-price">₩62,000</div>
                    </div>
                    <div class="product-summation-info">
                        <ul class="product-summation">
                            <li>총 상품금액</li>
                            <li>₩62,000</li>
                        </ul>
                        <ul class="product-shipping-price">
                            <li>
                                <div>배송비</div>
                                <div class="about-shippping">❔</div>
                            </li>
                            <li>₩2,500</li>
                        </ul>
                    </div>
                    <div class="product-total-amount">
                        <ul>
                            <li>총 결제금액</li>
                            <li class="total-amount-txt">
                                <div>KRW</div>
                                <div>₩64,500</div>
                            </li>
                        </ul>
                        <div>7만원 이상 무료배송</div>
                    </div>
                </div>
            </section>
        </article>
        <script type="text/javascript" src="/static/js/checkouts-card.js"></script>
    </div>
</body>
</html>