<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/manger/manager-main.css">
    <title>manager-main</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div id="wrap">
        <div class="manager-main">
            <h2>관리자페이지</h2>
            <div class="manager-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">회원관리</a></li>
                        <li><a href="#" class="product-update-btn">상품등록</a></li>
                        <li><a href="#" class="product-list-btn">상품목록</a></li>
                        <li><a href="#">주문목록관리</a></li>
                        <li><a href="#">문의사항관리</a></li>
                    </ul>
                </nav>
                <div class="manager-content">
                    
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/fragment/footer"></th:block>
    <script type="text/javascript" src="/static/js/manager/manager-main.js"></script>
</body>
</html>