<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/manger/manager-user.css">
    <title>회원관리</title>
    <th:block th:replace="fragment/head"></th:block>
    <th:block th:replace="fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="fragment/header"></th:block>
        <div class="manager-box">
            <div>
                <nav class="menu-list">
	            <h2  class="admin-title">관리자페이지</h2>
                    <ul>
                         <li><a href="/manager/customer">회원 관리</a></li>
	                    <li><a href="/manager/product-update">상품 등록</a></li>
	                    <li><a href="/manager/product-list">상품 목록</a></li>
	                    <li><a href="#">주문 목록관리</a></li>
	                    <li><a href="/contact/manager/list">문의 사항관리</a></li>
                    </ul>
                </nav>
              </div>
              
              <div>
               	<h1  class="admin-title">회원관리</h1>
                	<section class="manager-content">
               			<div class="list-header">
                   			<div class="manager-search">
		                        <select class="search-select">
		                            <option value="number">번호</option>
		                            <option value="name">이름</option>
		                            <option value="phone">휴대폰</option>
		                        </select>
		                        </div>
		                        <div class="customer-search">
			                        <input type="text" class="search-input">
			                        <button type="button" class="search-button black-button" >검색</button>
		                      </div>
                      		</div>  
                      		
	                        <table class="customer-list">
	                            <thead>
	                                <tr>
	                                    <th>번호</th>
	                                    <th>이름</th>
	                                    <th>이메일</th>
	                                    <th>휴대폰</th>
	                                    <th>가입일</th>
	                                    <th>관리</th>
	                                </tr>
	                            </thead>
	                            <tbody class="user-content-list">
	                                
	                            </tbody>
                        	</table>
                        </section>
                        <div class="list-btn">
                            <div class="page-buttons">
                                <button type="button" class="page-button">&lt;</button>
                                <button type="button" class="page-button">1</button>
                                <button type="button" class="page-button">2</button>
                                <button type="button" class="page-button">3</button>
                                <button type="button" class="page-button">4</button>
                                <button type="button" class="page-button">5</button>
                                <button type="button" class="page-button">&gt;</button>
                            </div>
                        </div>
				</div>
     	</div>

    <script type="text/javascript" src="/static/js/auth/manager-user.js"></script>
    <th:block th:replace="fragment/footer"></th:block>
</body>
</html>