<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/manger/product-update.css">
    <title>product-write</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div>
        <div class="product-update-main">
            <h2>관리자페이지</h2>
            <div class="product-update-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">회원관리</a></li>
                        <li><a href="#">상품등록</a></li>
                        <li><a href="#">상품목록</a></li>
                        <li><a href="#">주문목록관리</a></li>
                        <li><a href="#">문의사항관리</a></li>
                    </ul>
                </nav>
                <div class="product-update-content">
                    <h2>상품목록</h2>
                    <form id="form01" name="form01" enctype="multipart/form-data" method="post">
                        <table class="table">
                            <tr>
                                <td>상품코드</td>
                                <td>카테고리</td>
                                <td>상품이름</td>
                                <td>설명</td>
                                <td>이미지</td>
                                <td>수정/삭제</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
    <th:block th:replace="/fragment/footer"></th:block>
</body>
</html>