#wrap {
    width: 100%;
}

.manager-user-main{
    width: 1260px;
    height: 594px;
    margin: 0 auto;
}

.manager-user-main > h2 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 15px;
}

.manager-box {
    width: 1260px;
    height: 567px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu-list {
    float: left;
    width: 244px;
    height: 567px;
    padding: 0 10px;
    /* background-color: rebeccapurple; */
}

.menu-list li {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 11px;
}

.menu-list li a:hover {
    text-decoration-line: underline;
}

/*===========<< manager-content >>===========*/
.manager-content {
    width: 976px;
    height: 567px;
    /* background-color: aqua; */
}

.manager-header {
    width: 350px;
    display: flex;
    align-items: center;
    margin: 10px 580px;
}

.search-select {
    margin-left: 5px;
    border: 1px solid #141414;
    outline: none;
    padding: 0px 5px;
    height: 25px;
}

.search-input { 
    margin-left: 5px;
    border: 1px solid #141414;
    outline: none;
    padding: 0px 5px;
    height: 25px;
}

.search-button {
    width: 70px;
    font-weight: 600;
}
table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    border: 0.5px solid #141414;
}

th {
    font-size: 11px;
    height: 30px;
    border: 0.5px solid #141414;
    padding: 5px;
}

td {
    font-size: 11px;
    height: 20px;
    border: 0.5px solid #141414;
    padding: 5px;
}

.list-btn {
	display: flex;
	justify-content: center;
    margin-top: 380px;
	
	width: 100%;
}


.page-buttons {
    padding: 15px;
    width: 70%;
}

.page-button {
    margin: 2px;
    
    border: none;
    border-radius: 50%;
    background-color: white;
    
    width: 25px;
    height: 25px;

    font-size: 12px;
    font-weight: 500;
}

.page-button:hover {
    background-color: #9ee8ff;
}

.visible {
	display: none;
}