<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main/main.css">
    <title>stussy-main</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <main class="imgs"> 
        <article class="main-left">
            <ul>
                <div class="img-box">
                    <a href="#"><img src="/static/images/newarrival.jpg" alt="pic" class="new"></a>
                </div>
                <div class="img-box">
                    <a href="#"><img src="/static/images/shorts.jpg" alt="pic" class="new"></a>
                </div>
            </ul>
            <ul>
                <div class="img-box2">
                    <a href="#"><img src="/static/images/tops&shirts.jpg" alt="pic" class="new2"></a>
                </div>
            </ul>
            <ul>
                <div class="img-box">
                    <a href="#"><img src="/static/images/sweats.jpg" alt="pic" class="new"></a>
                </div>
                <div class="img-box">
                    <a href="#"><img src="/static/images/headwear.jpg" alt="pic" class="new"></a>
                </div>
            </ul>
        </article>
    </main>    
    <th:block th:replace="/fragment/footer"></th:block>
</body>
</html>