<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head}"></head>
<head>
	<link rel="stylesheet" href="/static/css/main/main.css">
    <title>스투시 | stussy korea</title>
</head>
<body>
    <header th:replace="~{fragment/header :: header}"></header>
    <main class="imgs"> 
        <article class="main-left">
            <ul>
                <div class="img-box">
                    <div class="item">
                        <a href="product/shop/all"><img src="/static/images/newarrival.jpg" alt="pic" class="new"><span>NEW ARRIVALS</span></a>
                    </div>
                </div>
                <div class="img-box">
                    <div class="item">
                        <a href="product/shop/PANTS"><img src="/static/images/shorts.jpg" alt="pic" class="new"><span>PANTS</span></a>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="img-box2">
                    <div class="item">
                        <a href="product/shop/shirt"><img src="/static/images/tops&shirts.jpg" alt="pic" class="new2"><span>TOPS&SHIRTS</span></a>
                    </div>
                </div>
            </ul>
            <ul>
                <div class="img-box">
                    <div class="item">
                        <a href="product/shop/accessory"><img src="/static/images/sweats.jpg" alt="pic" class="new"><span>ACCESSORY</span></a>
                    </div>
                </div>
                <div class="img-box">
                    <div class="item">
                        <a href="product/shop/cap"><img src="/static/images/headwear.jpg" alt="pic" class="new"><span>HEADWEAR</span></a>
                    </div>
                </div>
            </ul>
        </article>
    </main>    
    <footer th:replace="~{fragment/footer :: footer}"></footer>
</body>
</html>