#wrap {
    width: 100%;
}

.manager-main {
    width: 1260px;
    height: 594px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 11px;
}

.manager-box {
    width: 1260px;
    height: 567px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: aqua;
}

.menu-list {
    float: left;
    width: 244px;
    height: 567px;
    padding: 0 10px;
    background-color: rebeccapurple;
    
}

.menu-list li {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 11px;
}

.contact-list-content {
    width: 976px;
    height: 567px;
}

.contact-list-content h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: 13px;
}

.contact-list-content table {
    width: 700px;
    font-size: 12px;
}

.contact-list-content td {
    text-align: center;
}