.admin-title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
}

.manager-box {
   display: flex;
    justify-content: center;

    margin: 0px auto;
}

.menu-list {
    width: 264px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 0px 10px;
}

.menu-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #7f7f7f;
    padding-bottom: 10px;
}
.menu-list li a {
	font-size: 11px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
}
.menu-list li a:hover {
    text-decoration-line: underline;
}

.list-button {
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 0;
    width: 40px;
    height: 30px;
}

.delete-button {
    color: rgb(255, 64, 0);
}

.list-button .fa-regular {
    font-size: 14px;
}

/*===========<< manager-content >>===========*/
.list-header {
    display: flex;
    justify-content: space-between;
}

.customer-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.search-select {
    margin-left: 700px;
    border: 1px solid #141414;
    outline: none;
    padding: 0px 5px;
	height: 40px;
}


.search-input, button {
    margin: 0px 0px 15px 10px;
    padding: 10px;
}

.black-button {
	width:60px;
	height: 40px;
    padding: 10px;
    margin: -15px 0 0 0;
    color: white;
    background-color: black;
    animation: black-button-fadeout 0.1s linear forwards;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(198, 198, 198);
}

th, td {
    border: 1px solid rgb(198, 198, 198);
    padding: 5px 5px;
    font-size: 11px;
    text-align: center;
}

th:nth-child(1) {
    width: 70px;
}
th:nth-child(2) {
    width: 120px;
}
th:nth-child(3) {
    width: 250px;
}
th:nth-child(4) {
    width: 150px;
}
th:nth-child(5) {
    width: 100px;
}
th:nth-child(6) {
	margin:0;
    width: 100px;
}

.customer-list th, .customer-list td {
    height: 25px;
}

.list-btn {
	display: flex;
	justify-content: center;
    margin-top: 10px;
	
	width: 100%;
}

.delete-btn {
    color: rgb(255, 64, 0);
}

.page-buttons {
	margin-left: 400px;
    padding: 15px;
    width: 70%;
}

.page-button {
    margin: 2px;
    
    border: none;
    border-radius: 50%;
    background-color: white;
    
    width: 25px;
    height: 25px;

    font-size: 12px;
    font-weight: 500;
}

.page-button:hover {
    background-color: #9ee8ff;
}

.visible {
	display: none;
}