#wrap {
    width: 100%;
}

.product-update-main {
    width: 1260px;
    height: 594px;
    margin: 0 auto;
}

.product-update-main > h2{
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 15px;
}

.product-updateite-box {
    width: 1260px;
    height: 567px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu-list {
    float: left;
    width: 244px;
    height: 567px;
    padding: 0 10px;
}

.menu-list li {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 11px;
}

.menu-list li a:hover {
    text-decoration-line: underline;
}

/* 상품등록 표 css */
.table {
    width: 900px;
    height: 200px;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    border-top: 1px solid #141414;
    
}


th{
	height: 80px;
}


td{
	height: 50px;
}


.product-img {
	width: 40px;
}