 .top-info {
   width: 100%;
   height: 33px;
   background-color: black;
   text-align: center;
 }
 
 .top-info h5 {
   padding-top: 8px;
   color: whitesmoke;
 }
 .top-bar{
   width: 100%;
   height: 60px;
   font-family: "Helvetica Neue",Arial,sans-serif;
   font-size: 11px;
   display: flex;
 }
 
 .logo {
   margin-left: 20px;
 }
 
 .logo img {
   width: 60px;
   height: 60px;
 }
 
 .top-left{
   margin-left: 20px;
   padding-top: 20px;
 }
 
 .top-left ul{
   list-style: none;
   display: flex;   
 }
 
 .top-left li{
   padding-right:20px;
 }

 .top-left>ul>li a:hover,
 .top-left>ul>li a:focus {
   text-decoration: underline;
   font-weight: 600;
    color: #141414;
 }

 /*<<<<메뉴 내리기>>>*/
 .subbox{
   width: 200px;
   height: 100%;
   overflow: hidden;
   position: absolute;
   left: 100px;
   top: 65px;
   z-index: 10;
   transition: all 0.5;
   display: block;
   background-color: white;
 }
 
  .subbox-visible {
    display: none;
 }
 
 .subbox-mega {
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin: 30px 0 0 0;
 }
 
 .subbox-children {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;

   font-size: 15px;
 }

 .subbox-child {
   margin-top: 10px;
   font-size: 12px;
 }
 
 .top-right{
    display:flex;
    justify-content: flex-end;
   	align-items: center;
   	width: 100%;
 }
 
 .top-right ul {
   display: flex;
   
 }
 
 .top-right li{
   display: inline-block;
   padding-right: 20px;
 }

 .subbox-child a:hover,
 .subbox-child a:focus {
   text-decoration: underline;
   font-weight: 600;
   color: #141414;
 }

 .category {
   font-size: 12px;
   font-weight: 400;
 }
 
 
 /* 장밥구니 */

 .bag-arae {
 	width: 380px;
 	position: absolute;
 	right: 0px;
 	background-color: white;
 	opacity: 1;
 	z-index: 10;
 	
 }
 
 .bag-header {
 	padding: 20px;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	border-bottom: 1px solid #dbdbdb;
	 
 }
 
 .bag-title {
	 font-size: 11px;
	 font-weight: 700;
 }
 
 .product-name {
 	font-size: 11px;
 }
 
 .bag-cancle-button{
 	width: 20px;
 	background-color: white;
 	border: none;
 }
 
 .bag-container {
 
 	padding: 20px 10px;
 	display: flex;
 }
 
 .bag-img {
 	width: 110px;
 	background: red;
 }

 .bag-product-name {
 	margin: 0 0 15px 20px;
 	font-size: 11px;	
 }
 
 .bag-product-size {
  	margin: 0 0 30px 20px;
 	font-size: 11px;	
 }
 .bag-row {
	padding: 10px;
	margin: 15px 0 0 20px;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 }
 
 .product-quantity {
 	width:100px;
 	display: flex; 	
 	 justify-content: space-between;
 	background-color: white;
 	border: none;
 	font-size: 15px;
 }
 
 .product-quantity-button {
 	display: flex;
 	font-size: 15px;
 	border: none;
 	background-color: white;
 	
 }
 
 .product-quantity-input {
 	text-align:center;
	width: 30px;
 }

