<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/newPage.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>newPage</title>
</head>
<body>
    <div class="wrap">
        <!-- header -->
        <div class="header">
            <div class="header-promo">배송 지연 안내</div>
            <div class="main-header"></div>
        </div>

        <!-- contents  -->
        <div>
            <ul class="collection-products">
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product01.html">
                            <img src="/images/product01.jpg" alt="01">
                        </a>
                        <a class="a-tag" href="/templates/products/product01.html"><p>GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product02.html">
                            <img src="/images/product03.jpg" alt="01">
                        </a>                        
                        <a class="a-tag"  href="/templates/products/product02.html"><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product03.html"><img src="/images/product03.jpg" alt="01"></a>
                        <a class="a-tag" ><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product04.html">
                            <img src="/images/product04.jpg" alt="01">
                        </a>
                        <a class="a-tag" ><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product05.html">
                            <img src="/images/product05.jpg" alt="01">
                        </a>
                        <a><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product06.html">
                            <img src="/images/product06.jpg" alt="01">
                        </a>                        
                        <a class="card-title"><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product07.html">
                            <img src="/images/product07.jpg" alt="01">
                        </a>                        
                        <a class="card-title"><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <a href="/templates/products/product08.html">
                            <img src="/images/product08.jpg" alt="01">
                        </a>                        
                        <a class="card-title"><p class="card-title">GUMBALL TEE</p></a>
                        <p>₩62,000</p>
                    </div>
                </li>
            </ul>
            <div class="collection-linking">
                <p>Next Collection - Tees</p>
            </div>
        </div>
        <div class="footer">
            
        </div>
    </div>
</body>
</html>
