<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/product/product-detail.css">
    <title>tee01Page</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div class="wrap">
        <!-- contents -->
        <article class="product-section-area">
            <div class="section-product">
                <div class="product-imgs">
                    <img src="/images/b-tee01.jpg" alt="tee02">
                    <img src="/images/f-tee01.jpg" alt="tee02">
                </div>
                <div class="product-information">
                    <h1 class="product-title">GUMBALL TEE</h1>
                    &nbsp;
                    <div class="product-price">
                        <span>₩62,000</span>
                    </div>
                    <div class="swich">
                        <img src="/images/b-tee01.jpg" alt="tee01">
                        <img src="/images/tee02.jpg" alt="tee02">
                        <img src="/images/tee03.jpg"alt="tee03">
                    </div>
                    <div class="product-size">
                        <button type="button" class="size-button">S</button>
                        <button type="button" class="size-button">M</button>
                        <button type="button" class="size-button">L</button>
                        <button type="button" class="size-button">XL</button>
                        <button type="button" class="size-button">XXL</button>
                    </div>
                    <div class="product-button">
                        <button type="submit" class="add-btn">
                            <span class="add-btn-span">ADD TO BAG</span>
                        </button>
                        <button type="submit" class="buy-btn">
                            <span class="buy-btn-span">BUY NOW</span>
                        </button>
                    </div>
                    <div class="product-details">
                        <p class="tee-kind">Shortsleeve crewneck tee.</p>
                        <!-- <strong>PRODUCT DETAILS</strong>
                        <p>- Screenprinted graphics</p>v
                        <p>- Ribbed collar</p>
                            <br>
                            <p>100% Cotton</p>
                            <p>imported</p>
                            <br>
                        <strong>MORE TEE</strong> -->
                    </div>
                </div>
            </div>
            <div>
                <h1  class="related-products-title">SUGGESTED</h1>
            </div>
            <div class="releted-area">
                <ul class="releted-products">
                    <li class="releted-product">
                        <div>
                            <img src="/images/tee02.jpg" alt="tee02">                    
                            <a><p>GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                    <li class="releted-product">
                        <div>
                            <img src="/images/tee03.jpg" alt="tee02">                    
                            <a><p class="card-title">GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                    <li class="releted-product">
                        <div>
                            <img src="/images/b-tee01.jpg" alt="tee02">                    
                            <a><p class="card-title">GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                    <li class="releted-product">
                        <div>
                            <img src="/images/b-tee01.jpg" alt="01">                    
                            <a><p class="card-title">GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                </ul>
            </div>
        </article>
    </div>
    <th:block th:replace="/fragment/footer"></th:block>
   <script type="text/javascript" src="/static/js/product/product-detail.js"></script>
</body>
</html>
