<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/product/product-main.css">
    <title>All-arrivals l 스투시 | stussy korea</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div class="wrap">
        <!-- contents  -->
        <section class="collection-body">
            <ul class="collection-products">
                <li class="collection-product collection-product-${page}">
                    <div class="shop-box">
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/b-tee01.jpg" alt="tee01">
                            </a>
                        </div>
                        <div>
                            <a class="a-tag" href="/templates/products/tee01.html">
                               	<p class="a-tag-title">GUMBALL TEE</p>
                            </a>
                            <p>₩62,000</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="collection-linking">
                <p>Next Collection - Headwear</p>
            </div>
        </section>
    </div>
    <th:block th:replace="/fragment/footer"></th:block>
    <script type="text/javascript" src="/static/js/products/product-main.js"></script>
</body>
</html>
