<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/product/product-main.css">
    <title>teePage</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div class="wrap">
        <!-- contents  -->
        <section class="collection-body">
            <ul class="collection-products">
                <li class="collection-product collection-product-${page}">
                    <div class="shop-box">
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/b-tee01.jpg" alt="tee01">
                            </a>
                        <div>
                        <div>
                            <a class="a-tag" href="/templates/products/tee01.html">
                                <p class="card-title">GUMBALL TEE</p>
                            </a>
                            <p>₩62,000</p>
                        </div>
                    </div>
                </li>
                <!-- <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee02.jpg" alt="tee02">
                            </a>                        
                        </div>
                        <a class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">GUMBALL TEE</p>
                        </a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee03.jpg" alt="tee03">
                            </a>
                        </div>
                        <a class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">GUMBALL TEE</p>
                        </a>
                        <p>₩62,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee04.jpg" alt="01">
                            </a>
                        </div>
                        <a class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">VOLUME PLEATED TROUSER</p>
                        </a>
                        <p>₩226,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee05.jpg" alt="01">
                            </a>
                        </div>
                        <a class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">VOLUME PLEATED TROUSER</p>
                        </a>
                        <p>₩226,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee06.jpg" alt="01">
                            </a>                        
                        </div>
                        <a class="card-title" class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">LAGUNA PLAID SHIRT</p>
                        </a>
                        <p>₩210,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee07.jpg"alt="01">
                            </a>                        
                        </div>
                        <a class="card-title" class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">LAGUNA PLAID SHIRT</p>
                        </a>
                        <p>₩210,000</p>
                    </div>
                </li>
                <li class="collection-product">
                    <div>
                        <div class="product-img">
                            <a href="/templates/products/tee01.html">
                                <img src="/images/tee08.jpg" alt="01">
                            </a>                        
                        </div>
                        <a class="card-title" class="a-tag" href="/templates/products/tee01.html">
                            <p class="card-title">2 TONE LOOSE GAUGE SWEATER</p>
                        </a>
                        <p>₩226,000</p>
                    </div>
                </li> -->
            </ul>
            <div class="collection-linking">
                <p>Next Collection - Headwear</p>
            </div>
        </section>
    </div>
    <th:block th:replace="/fragment/footer"></th:block>
    <script type="text/javascript" src="/static/js/products/product-main.js"></script>
</body>
</html>
