<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product01.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>product01Page</title>
</head>
<body>
    <div class="wrap">
        <!-- header -->
        <div class="header">
            <div class="header-promo">배송 지연 안내</div>
            <div class="main-header"></div>
        </div>

        <!-- contents -->
        <div class="product-section-area">
            <div class="section-product">
                <div class="product-imgs">
                    <img src="/images/product01.jpg" alt="product01">
                    <img src="/images/product01.jpg" alt="product01">
                </div>
                <div class="product-information">
                    <h1 class="product-title">GUMBALL TEE</h1>
                    &nbsp;
                    <div class="product-price">
                        <span>₩62,000</span>
                    </div>
                    <div class="swich">
                        <img src="/images/product01.jpg" alt="">
                        <img src="/images/product02.jpg" alt="">
                        <img src="/images/product03.jpg" alt="">
                    </div>
                    <div class="product-size">
                       <p>S</p>
                       <p>S</p>
                       <p>S</p>
                       <p>S</p>
                       <p>S</p>

                    </div>
                    <div class="product-button">
                        <button type="submit" class="add-btn">
                            <span class="add-btn-span">ADD TO BAG</span>
                        </button>
                        <button type="submit" class="buy-btn">
                            <span class="buy-btn-span">BUY NOW</span>
                        </button>
                    </div>
                    <div class="product-details">
                        <p class="tee-kind">Shortsleeve crewneck tee.</p>
                        <strong>PRODUCT DETAILS</strong>
                        <p>- Screenprinted graphics</p>
                        <p>- Ribbed collar</p>
                            <br>
                            <p>100% Cotton</p>
                            <p>imported</p>
                            <br>
                        <strong>MORE TEE</strong>
                    </div>
                </div>
            </div>
            <div>
                <h1  class="related-products-title">SUGGESTED</h1>
           </div>
            <div class="releted-area">
                <ul class="releted-products">
                    <li class="releted-product">
                        <div>
                            <img src="/images/product01.jpg" alt="01">                    
                            <a><p>GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                    <li class="releted-product">
                        <div>
                            <img src="/images/product01.jpg" alt="01">                    
                            <a><p class="card-title">GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                    <li class="releted-product">
                        <div>
                            <img src="/images/product01.jpg" alt="01">                    
                            <a><p class="card-title">GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                    <li class="releted-product">
                        <div>
                            <img src="/images/product01.jpg" alt="01">                    
                            <a><p class="card-title">GUMBALL TEE</p></a>
                            <p>₩62,000</p>
                        </div>
                    </li>
                </ul>
            </div>
        
        <!-- footer -->
        <div class="footer">
            
        </div>
    </div>
</body>
</html>
