.footer-main{
	padding-top: 20px;
}
.footer-text{
	font-size: 12px;
    display: flex;
}
.footer-text ul{
	display: flex;
}
.footer-mid{
	padding-left: 600px;
}
.footer-text{
	padding-left: 10px;
}
.footer-text{
	padding-left: 10px;
	padding-right: 10px;
}
.footer-menu {
    display: flex;
    margin-left: 300px;
}
.footer-bot{
	padding-top: 10px;
    text-align: center;
}