.imgs{
	text-align: center;
}

.main_left{
	padding-right: 20px;
	padding-bottom: 20px;
	/* padding-top: 100px; */
	cursor: pointer;
	position: relative;
    display: inline-block;
    
}

.img_box {
    width: 462px;
    height: 563px;
    display: inline-block;
    margin: 0px 5px 20px 5px;
    position: relative;
}
.img_box .item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: black;
    font-size: 35px;
    opacity: 0;
    font-weight: 700;
}
.img_box .item:hover span {
    opacity: 1;
}
.img_box:hover{
    opacity: 0.7;
}
.new{
    width: 460px;
    height: 563px;
	opacity: 1;
}
.new2{
    width: 930px;
    height: 563px;
    margin-bottom: 20px;
}

.img_box2 {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    position: relative;
}
.img_box2 .item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: black;
    font-size: 35px;
    opacity: 0;
    font-weight: 700;
}
.img_box2 .item:hover span {
    opacity: 1;
}
.img_box2:hover{
    transition: all;
    opacity: 0.7;
}








