.wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;;
}

.header {
    width: 100%;
    height: 92.65px;
    position:fixed;
    top:0;
    left:0;
}

.header-promo {
    width: 100%;
    height: 32.65px;
    background-color: black;

}

.main-header {
    width: 100%;
    height: 60px;
    background-color: antiquewhite;
}

.collection-body {
    /* height: 1970px; */
    overflow: auto;
}

.collection-body::-webkit-scrollbar {
    width: 0px;
}

.collection-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 800px; */
    margin-top: 90px;
    /* background-color: aqua; */
}

.collection-product:not(:last-of-type) {
    margin-bottom: 10PX;
}

.collection-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 445px;
    margin-bottom: 35px;
    padding: 0 17px;
}

.shop-box::-webkit-scrollbar {
    overflow: auto;
    height: 0px;
    width: 0px;
}

.product-img {
    width: 400px;
    height: 390px;
    background-color: #dbdbdb;
}

.product-img img {
    width: 400px;
    height: 390px;
}

.a-tag {
    color: #000;
    text-decoration: none;
}

.card-title {
    font-size: 11px;
    font-weight: 700;
}

.collection-product p {
    margin-top: 5px;
    font-size: 11px;
    text-align: center;

}

.collection-linking {
    width: 100%;
}

.collection-linking p {
    padding: 20px;
    font-size: 11px;
    text-align: center;
}

.shop-box {
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
.footer {
    width: 100%;
    height: 219.66px;
    background-color: antiquewhite;
}