<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header  th:fragment="header">
        <div class="top-info">
            <a href="#"><h5>배송지연안내</h5></a>
        </div>
        <div class="top-bar">
            <div class="logo">
                <a href="/main"><img src="/static/images/logo.jpg"></a>
            </div>
            <div class="top-left">
                <ul>
                    <li><a href="/product/shop/all" class="category">SHOP</a></li>
                </ul>
                <div class="subbox subbox-visible">
                    <div class="subbox-mega">
                        <ul class="subbox-children">
                            <li class="subbox-child"><a href="/product/shop/all">ALL</a></li>
                            <li class="subbox-child"><a href="/product/shop/shirt">SHIRT</a></li>
                            <li class="subbox-child"><a href="/product/shop/pants">PANTS</a></li>
                            <li class="subbox-child"><a href="/product/shop/cap">CAP</a></li>
                            <li class="subbox-child"><a href="/product/shop/accessory">ACCESSORY</a></li>
                        </ul>
                    </div>
                    <div class="subbox-mega">
                        <ul class="subbox-children">
                            <li class="subbox-child"><a href="/account/main">ACCOUNT</a></li>
                            <li class="subbox-child"><a href="/contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="top-right ">
                <ul>
                    <li><a href="#" class="category seach-button">SEARCH</a></li>
                    <li><a href="#" class="category bag-button">BAG</a></li>
                </ul>
            </div>
            
            <!-- 장바구니 -->
            <div class="bag-arae visible">
	            <div class="bag-header">
	            	<h1 class="bag-title">SHOPPING BAG</h1>
	            	<button class="bag-cancle-button">
		            	<i class="fa-regular fa-x bag-delete-button"></i>            	
	            	</button>
	            </div>
	            <div class="bag-container">
            		<a href="#" class="bag-img">
            			<img alt="" src="">
            		</a>	  
	            	<div class="bag-info">
	            		<h1 class="bag-product-name"><a href="#">REVERSIBLE DOWN WORKGEAR VEST</a></h1>
	            		<span class="bag-product-size">Size / M</span>
	            		
	            		<div class="bag-row">
		            		<div class="product-quantity">
			            		<button class="product-quantity-button"><span>-</span></button>
			            		<input class="product-quantity-input" type="text">
			            		<button class="product-quantity-button"><span>+</span></button>	            		
		            		</div>
	            			<div class="bag-product-price">
		            			<span>₩343,000</span>	            			
	            			</div> 
		         		</div>
	            	</div>
	            </div>
	         </div>
            </div>
	         
    <script src="/static/js/fragment/header.js"></script>
    <script src="/static/js/cart/bag.js"></script>
    </header>
</html>