<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header  th:fragment="header">
        <div class="top-info">
            <a href="#"><h5>배송지연안내</h5></a>
        </div>
        <div class="top-bar">
            <div class="logo">
                <a href="/main"><img src="/static/images/logo.jpg"></a>
            </div>
            <div class="top-left">
                <ul>
                    <li><a href="/product/shop/all" class="category">SHOP</a></li>
                </ul>
                <div class="subbox subbox-visible">
                    <div class="subbox-mega">
                        <ul class="subbox-children">
                            <li class="subbox-child"><a href="/product/shop/all">ALL</a></li>
                            <li class="subbox-child"><a href="/product/shop/shirt">SHIRT</a></li>
                            <li class="subbox-child"><a href="/product/shop/pants">PANTS</a></li>
                            <li class="subbox-child"><a href="/product/shop/cap">CAP</a></li>
                            <li class="subbox-child"><a href="/product/shop/accessory">ACCESSORY</a></li>
                        </ul>
                    </div>
                    <div class="subbox-mega">
                        <ul class="subbox-children">
                            <li class="subbox-child"><a href="/account/main">ACCOUNT</a></li>
                            <li class="subbox-child"><a href="/contact">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="top-right ">
                <ul>
                    <li><a href="#" class="category seach-button">SEARCH</a></li>
                    <li><a href="#" class="category bag-button">BAG</a></li>
                </ul>
            </div>
            
            <!-- 장바구니 -->
            <div class="bag-arae visible">
	            <div class="bag-header">
	            	<h1 class="bag-title">SHOPPING BAG</h1>
	            	<button class="bag-cancle-button">
		            	<i class="fa-regular fa-x bag-delete-button"></i>            	
	            	</button>
	            </div>
	            
	            <div class="bag-container">
	            	
	            </div>
	            <div class="cart-info">
	            		<p class="p1">7만원 이상 무료배송</p>
	            		<div class="total-price-area">
		            		<p class="total-price-title">총 상품금액</p>
		            		<p class="total-price">₩343,000</p>	            		
	            		</div>
	            		<p class="p4">배송비는 다음 단계에서 적용됩니다.</p>
	            		<div class="footer-info">
		            		<div class="checkbox">
			            		<input type="checkbox"><span>개인정보 수집 및 이용 동의</span>            				            		
		            		</div>
		            		<div class="checkbox">
			            		<input type="checkbox"><span>이용약관 동의 </span>		            		
		            		</div>
	            			<button class="check-btn">주문하기</button>
	            		</div>
	            </div>
	         </div>
            </div>
	         
    <script src="/static/js/fragment/header.js"></script>
    <script src="/static/js/cart/bag.js"></script>
    </header>
</html>