<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header>
        <div class="top-info">
            <a href="#"><h5>배송지연안내</h5></a>
        </div>
        <div class="top-bar">
            <div class="logo">
                <a href="#"><img src="/static/images/logo.jpg"></a>
            </div>
            <div class="top-left">
                <ul>
                    <li><a href="#" class="category">SHOP</a></li>
                </ul>
            </div>
            <div class="top-right">
                </ul>
                    <li><a href="#" class="category">SEARCH</a></li>
                    <li><a href="#" class="category">BAG</a></li>
                    <li><a href="#" class="category"><img src="/static/images/korea.jpg" width=19.99 height=14.28></a></li>
                </ul>
            </div>
        </div>
    </header>
</html>