<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/cart/cart.css">
    <title>stussy-cart</title>
    <th:block th:replace="fragment/head"></th:block>
    <th:block th:replace="fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="fragment/header"></th:block>
    <div id="wrap">
        <div class="cart-main">
            <h2>CUSTOMER SUPPORT</h2>
            <div class="cart-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">내 계정</a></li>
                        <li><a href="#">문의</a></li>
                        <li><a href="#">배송지연안내</a></li>
                        <li><a href="#">주문 및 배송정보</a></li>
                        <li><a href="#">장바구니</a></li>
                    </ul>
                </nav>
                <div class="cart-content">
                    <form name="orderform" id="orderform" method="post" class="orderform" action="/Page" onsubmit="false">
                        <input type="hidden" name="cmd" value="order">
                        <div class="basketdiv" id="basket">
                            <div class="row head">
                                <div class="subdiv">
                                    <div class="check">선택</div>
                                    <div class="img">이미지</div>
                                    <div class="pname">상품명</div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketprice">가격</div>
                                    <div class="num">수량</div>
                                    <div class="sum">합계</div>
                                </div>
                                <div class="subdiv">
                
                                    <div class="basketcmd">삭제</div>
                                </div>
                                <div class="split"></div>
                            </div>
                    
                            <div class="row data">
                                <div class="subdiv">
                                    <div class="check"><input type="checkbox" name="buy" value="260" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                                    <div class="img"><img src="./img/basket1.jpg" width="60"></div>
                                    <div class="pname">
                                        <span>찜마마(XJ-92214/3)</span>
                                    </div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketprice"><input type="hidden" name="p_price" id="p_price1" class="p_price" value="20000">20,000원</div>
                                    <div class="num">
                                        <div class="updown">
                                            <span onclick="javascript:basket.changePNum(1);"><i class="down">-</i></span>
                                            <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="2" onkeyup="javascript:basket.changePNum(1);">
                                            <span onclick="javascript:basket.changePNum(1);"><i class="up">+</i></span>
                                        </div>
                                    </div>
                                    <div class="sum">40,000원</div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
                                </div>
                            </div>
                            <div class="row data">
                                <div class="subdiv">
                                    <div class="check"><input type="checkbox" name="buy" value="261" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                                    <div class="img"><img src="./img/basket2.jpg" width="60"></div>
                                    <div class="pname">
                                        <span>노바 요거팜(JP-268T)</span>
                                    </div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketprice"><input type="hidden" name="p_price" id="p_price2" class="p_price" value="19000">19,000원</div>
                                    <div class="num">
                                        <div class="updown">
                                            <span onclick="javascript:basket.changePNum(2);"><i class="down">-</i></span>
                                            <input type="text" name="p_num2" id="p_num2" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(2);">
                                            <span onclick="javascript:basket.changePNum(2);"><i class="up">+</i></span>
                                        </div>
                                    </div>
                                    <div class="sum">19,000원</div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
                                </div>
                            </div>
                            <div class="row data">
                                <div class="subdiv">
                                    <div class="check"><input type="checkbox" name="buy" value="262" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                                    <div class="img"><img src="./img/basket3.jpg" width="60"></div>
                                    <div class="pname">
                                        <span>아날도 바시니 보스톤 가방 20인치 (ab-380)</span>
                                    </div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketprice"><input type="hidden" name="p_price" id="p_price3" class="p_price" value="15200">15,200원</div>
                                    <div class="num">
                                        <div class="updown">
                                            <span onclick="javascript:basket.changePNum(3);"><i class="down">-</i></span>
                                            <input type="text" name="p_num3" id="p_num3" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(3);">
                                            <span onclick="javascript:basket.changePNum(3);"><i class="up">+</i></span>
                                        </div>
                                    </div>
                                    <div class="sum">15,200원</div>
                                </div>
                                <div class="subdiv">
                                    <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
                                </div>
                            </div>
                    
                        </div>
                
                        <div class="right-align basketrowcmd">
                            <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delCheckedItem();">선택상품삭제</a>
                            <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delAllItem();">장바구니비우기</a>
                        </div>
                
                        <div class="bigtext right-align sumcount" id="sum_p_num">상품갯수: 4개</div>
                        <div class="bigtext right-align box blue summoney" id="sum_p_price">합계금액: 74,200원</div>
                
                        <div id="goorder" class="">
                            <div class="clear"></div>
                            <div class="buttongroup center-align cmd">
                              <button id="final-support-submit"><a href="/payment/checkouts">선택한 상품 주문</a></button>  
                              <!--<button id="final-support-submit"><a href="javascript:void(0);" >선택한 상품 주문</a></button>  
                            	-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragment/footer"></th:block>
</body>
<script type="text/javascript" src="/static/js/cart/cart.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  
</html>