:root {
    --main-color: rgb(255, 255, 255);
    --line-color: rgb(198, 198, 198);
    --sub-color: #000000;
    --font-color: #333333;
}
#container {
    display: flex;
    justify-content: center;
}

article {
    width: 920px;
    height: 851px;

    display: flex;
    justify-content: center;
}

.checkouts-user-info-area {
    width: 501px;
    height: 851px;
    padding: 44px 52px 0 0;
}

.user-info-header {
    width: 449px;
    height: 97px;
}

.user-info-hedaer-logo {
    height: 50px;
}

.user-info-hedaer-logo > img {
    width: 68px;
    height: 48px;
}

.user-info-order-proceeding {
    display: flex;
    justify-content: space-around;

    align-items: flex-end;    
    width: 130px;
    height: 24px;
}

.order-proceeding-txt {
    font-size: 9px;
}

.order-proceeding-txt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.user-info-profile-txt {
    height: 23px;
}

.user-info-profile-txt > h2 {
    font-size: 14px;
    font-weight: 400;
}

.user-info-profile-area {
    display: flex;
    flex-direction: column;
    height: 121px;
}

.user-info-profile {
    display: flex;
    align-items: center;
    height: 80px;
}

.user-info-profile-photo > img {
    width: 50px;
    height: 50px;
}

.user-info-profile-userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 30px;
    padding-left: 11px;
}

.user-info-profile-userinfo > li:first-child {
    color: #545454;
}

.user-info-profile-checkbox-area {
    display: flex;
    align-items: center;
    height: 22px;
}

input[type="checkbox"]{
    display: none;
  }

input[type="checkbox"] + label{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d9d9d9;
    position: relative;
  }

input[id="user-info-profile-checkbox"]:checked + label::after{
    content:'✓';
    font-size: 16px;
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;

    color: var(--main-color);
    background-color: var(--sub-color);
  }

.user-info-profile-checkbox-area > p {
    padding-left: 8px;
} 

.user-info-main {
    height: 424px;
    padding-top: 36px;
}

.user-info-main-hedaer {
    height: 18px;
}

.user-info-main-hedaer > h2 {
    font-size: 14px;
    font-weight: 300;
}

.user-info-main-select {
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

select {
    width: 449px;
    height: 36px;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--sub-color);
    background: url(/images/checkouts/btn.png) no-repeat 100% 50%; /* 네이티브 화살표 대체 */  

    padding-left: 8px;

    color: var(--font-color);

    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance : none;
}
  
select:focus {
    cursor: pointer;
    transition-duration: 0.1s;

    border-color: var(--sub-color);
    border-width: 2px;
    border-style: solid;

    color: var(--font-color);
}

.nation-select-box {
    padding-top: 8px;
}

.nation-txt {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 9px;
    color: var(--font-color);
}

.user-info-main-short-box {
    width: 449px;
    height: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.short-input-box {
    width: 220px;
    height: 36px;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--sub-color);
   

    padding-left: 8px;

    color: var(--font-color);

    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance : none;
}
  
.name-input-box:focus {
    cursor: pointer;
    transition-duration: 0.1s;

    border-color: var(--sub-color);
    border-width: 2px;
    border-style: solid;

    color: var(--font-color);
}

.zipcode-input-box {
    width: 216px;
    height: 36px;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--sub-color);
   

    padding-left: 8px;

    color: var(--font-color);

    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance : none;
}
  
.zipcode-input-box:focus {
    cursor: pointer;
    transition-duration: 0.1s;

    border-color: var(--sub-color);
    border-width: 2px;
    border-style: solid;

    color: var(--font-color);
}

.find-addresses-btn {
    width: 225px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--sub-color);

    border-color: var(--sub-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--main-color);

    color: var(--main-color);
}

.find-addresses-btn:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgb(198, 198, 198);
    color: var(--sub-color);
}

.find-addresses-btn > input {
    background-color: var(--sub-color);

    border-color: var(--sub-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--main-color);

    color: var(--main-color);
}

.find-addresses-btn > input:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgb(198, 198, 198);
    color: var(--sub-color);
    border: none;
}


.user-info-main-region > select {
    width: 449px;
    height: 36px;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--sub-color);
    background: url(/images/btn.png) no-repeat 100% 50%; /* 네이티브 화살표 대체 */  

    padding-left: 8px;

    color: var(--font-color);

    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance : none;
}
  
.user-info-main-region > select:focus {
    cursor: pointer;
    transition-duration: 0.1s;

    border-color: var(--sub-color);
    border-width: 2px;
    border-style: solid;

    color: var(--font-color);
}

.long-input-box {
    width: 449px;
    height: 36px;
    border-color: var(--line-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--sub-color);
   

    padding-left: 8px;

    color: var(--font-color);

    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance : none;
}

.user-info-main-footer {
    height: 127px;
    border-bottom: 1px solid #e6e6e6;
}

.user-info-main-footer > p {
    color: #ff0000;
    font-size: 12px;
    font-weight: 500;
}

.main-footer-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.back-to-cart {
    display: flex;
    width: 90px;
    justify-content: space-between;
}

.keep-shipping-btn {
    width: 275px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--sub-color);

    border-color: var(--sub-color);
    border-width: 1px;
    border-style: solid;
    outline: var(--main-color);

    color: var(--main-color);
}

.keep-shipping-btn:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgb(198, 198, 198);
    color: var(--sub-color);
}

.user-info-footer {
    display: flex;
    height: 42px;
}

.user-info-footer > ul {
    display: flex;
    width: 270px;
}

.user-info-footer > ul > li {
    display: flex;
    align-items: center;
    font-size: 10px;
    padding-right: 10px;
}

.user-info-footer > ul > li:hover {
    cursor: pointer;
   text-decoration: underline;
}

.checkouts-product-info-area {
    width: 363px;
    height: 851px;
}

.checkouts-product-info {
    width: 328px;
    padding: 44px 0 0 35px;
}

.product-photo-name-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 328px;
    height: 77px;

    border-bottom: 1px solid #e6e6e6;
}

.product-photo-name-info > ul {
    display: flex;
    align-items: center;
}

.product-photo {
    width: 51px;
    height: 51px;
    border: 1px solid #e6e6e6;
    border-radius: 15%;
    
    position: relative;
}

.product-count {
    position: absolute;
    top: -5px;
    right: -3px;

    width: 17px;
    height: 17px;
    background-color: rgba(114, 114, 114, 0.9);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-count > p {
    padding-left: 1.5px;
    font-size: 9px;
    color: var(--main-color);
}

.product-name {
    padding-left: 12px;
}

.product-name > p {
    padding-bottom: 3px;
}

.product-name > p:last-child {
    font-size: 10px;
    color: #737373;
}

.product-summation-info {
    width: 328px;
    height: 72px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-bottom: 1px solid #e6e6e6;
}

.product-summation {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.product-summation-info ul li:first-child {
    color: #545454;
}

.product-shipping-price {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.product-shipping-price li:first-child {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

.about-shippping {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15px;
    height: 15px;
    color: var(--main-color);
    background-color: #919191;
    border-radius: 50%;

    font-size: 9px;
    padding-left: 2px;
}

.about-shippping:hover {
    cursor: pointer;
    background-color: #000000;

}

.product-total-amount {
    width: 328px;
    height: 102px;
    display: flex;
    flex-direction: column;
}

.product-total-amount > ul {
    height: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-total-amount > ul > li:first-child {
    font-size: 13px;
    color: #545454;
}

.total-amount-txt {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-amount-txt > div:first-child {
    font-size: 9px;
    color: #545454;
}

.total-amount-txt > div:last-child {
    font-size: 18px;

}

.product-total-amount > div {
    display: flex;
    align-items: center;
    height: 51px;
    color: #545454;
}