* {
    margin: 0px;
    padding: 0px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid black;
}

:after, :before {
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration-line: none;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -webkit-text-size-adjust: 100%;
    background-color: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

button {
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
}

.visible {
    display: none;
}
