<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/account/account-main.css">
    <title>stussy-account-main</title>
    <th:block th:replace="fragment/head"></th:block>
    <th:block th:replace="fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="fragment/header"></th:block>

    <div id="wrap">
        <div class="account-main">
            <h2>ACCOUNT DASHBOARD</h2>
            <div class="account-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">내 계정</a></li>
                        <li><a href="#">주소록</a></li>
                        <li><a href="#">문의</a></li>
                        <li><a href="#" class="logout-btn">로그아웃</a></li>
                    </ul>
                </nav>
                <div class="account-content">
		            <p>계정 정보</p>
					<p>장원영</p>
					<p>기본 주소</p>
					<p>장원영</p>
					<p>대한민국</p>
					<p>주소 수정하기</p>
					<p>주문기록</p>
					<p>You have not placed any orders yet.</p>
					
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/js/account/account-main.js"></script>
    <th:block th:replace="fragment/footer"></th:block>
</body>
</html>