<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/account/account-dashboard.css">
    <title>stussy-account-dashboard</title>
</head>
<body>
    <div id="wrap">
        <div class="account-main">
            <h2>ACCOUNT DASHBOARD</h2>
            <div class="account-box">
                <nav class="menu-list">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </nav>
                <div class="account-content">
                    <div class="account-info">
                        <h2>계정 정보</h2>
                        <span>이름</span>
                        <h3>기본주소</h3>
                        <p>
                            이름
                            <br>
                            국적
                        </p>
                        <a href="#" class="account-address-link">주소수정하기</a>
                    </div>
                    <div class="account-order">
                        <h2>주문기록</h2>
                        <table border="1">
                            <thead>
                                <tr>
                                    <th width="70px">번호</th>
                                    <th width="150px">주문번호</th>
                                    <th>상품명</th>
                                    <th width="70px">수량</th>
                                    <th>상태</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>