<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/account/account-main.css">
    <title>stussy-account-main</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div id="wrap">
        <div class="contact-main">
            <h2>ACCOUNT DASHBOARD</h2>
            <div class="contact-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">내 계정</a></li>
                        <li><a href="#">주소록</a></li>
                        <li><a href="/contact/addition">문의</a></li>
                        <li><a href="#">로그아웃</a></li>
                    </ul>
                </nav>
                <article class="account-content">
                    <div class="account-user-info account-info">
                        <h1>계정 정보</h1>
                        <p>전주홍</p>
                    </div>
                    <div class="account-address-info account-info">
                        <h1>기본 주소</h1>
                    </div>
                    <div class="account-address-update account-info">
                        <button type="button">주소 수정하기</button>
                    </div>
                    <div class="account-order-info account-info">
                        <h1>주문 기록</h1>
                        <p>You have not placed any orders yet.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>
</html>