<!DOCTYPE html> 
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head> 
<body> 
    <!-- jQuery --> 
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script> 
	<!-- iamport.payment.js --> 
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
			
    <div> 
        <h2>IAMPORT 결제테스트</h2> 
        <li> 
           	<button id="iamportPayment" type="button">결제하기</button> 
        </li> 
    </div> 
</body> 
<script type="text/javascript" src="/static/js/import.js"></script> 
</html>