#wrap {
    width: 100%;
}

.support-main {
    width: 1260px;
    height: 100vh;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
    font-size: 15px;
}

.support-box {
    width: 1260px;
    height: 567px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-color: aqua; */
}

.menu-list {
    float: left;
    width: 244px;
    height: 567px;
    padding: 0 10px;
    /* background-color: rebeccapurple; */
    
}

.menu-list li {
    text-align: left;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 11px;
}

.menu-list li a:hover {
    text-decoration-line: underline;
}

.contact-write-button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



/* >>>>>>>>>>>>>> contact-list 본내용 <<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>> contact-list-header <<<<<<<<<<<<<<< */
.contact-list-content {
    width: 976px;
    height: 567px;
    /* background-color: blue; */
}

.contact-list-header {
    display: flex;
    justify-content: space-between;
    
    border-bottom: 2px solid #141414;

    padding: 20px 0;

    width: 976px;
    height: 55px;

    background-color: white;
}

.menu-title {
    font-size: 14px;
    float: left;
    margin-bottom: 15px;
}

.menu-title {
    font-size: 18px;
    font-weight: 700;
}

/* >>>>>>>>>>>> contact-list 본문 <<<<<<<<<<<<< */

article {
    /* margin-top: 10px; */
    /* border: 2px solid #141414; */
    
    padding: 10px 0px;
    width: 976px;
    height: 340px;
    
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-list {
    border-collapse: collapse;
    width: 100%;
}

/* >>>>>>>>>>>>> list-style <<<<<<<<<<<<< */

.contact-search {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.search-select, .search-input, .contact-btn {
    margin-left: 5px;
    border: 1px solid #141414;
    outline: none;
    padding: 0px 5px;
    height: 25px;
}

.contact-btn {
    width: 70px;

    font-weight: 600;
    color: #fafafa;
    
    background-color: #141414;
}

.contact-btn:active {
    color: #141414;
    
    background-color: #fafafa;
}

/*==========<< table >>==========*/

.contact-row-header {
    border-width: 2px 0px;
    border-color: #dbdbdb;
    border-style: solid;
    height: 30px;
}

.contact-row-header th {
    font-size: 13px;
    font-weight: 900;
}

.contact-row-header-title {
    width: 470px;
}

.contact-row-header-writer {
    width: 160px;
}

.contact-row {
    border-bottom: 1px solid #dbdbdb;
    height: 30px;

    cursor: pointer;
}

.contact-row:active {
    background-color: #fafafa;
}

.contact-row td {
    font-size: 12px;
    text-align: center;
}

.contact-row td:nth-child(2) {
    text-align: left;
}

.list-footer {
   display: flex;
   justify-content: center;
   
   width: 976px;

   border-top: 1px solid #141414;
}


.page-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    width: 70%;
    height: 50px;
}

.page-button {
    margin: 2px;
    
    border: none;
    border-radius: 50%;
    background-color: white;
    
    width: 25px;
    height: 25px;

    font-size: 12px;
    font-weight: 500;
}

.page-button:hover {
    background-color: #ccc;
}

.visible {
   display: none;
}
