.wrap {
    width: 100%;
    height: 100%;
    background-color: #fff;;
}


.collection-body {
    /* height: 1970px; */
    overflow: auto;
}

.collection-body::-webkit-scrollbar {
    width: 0px;
}

.collection-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.collection-product:not(:last-of-type) {
    margin-bottom: 10PX;
}

.collection-product {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 25px;
    margin-bottom: 35px;
    padding: 0 17px;
}

.shop-box::-webkit-scrollbar {
    overflow: auto;
    height: 0px;
    width: 0px;
}

.product-img {
	width:100%;
}

.product-img img {
    width: 300px;
    height: 300px;
}

.a-tag {
    color: #000; 
}

.a-tag-title {
	text-decoration: underline;
	font-size: 11px;
    font-weight: 700;
}

.collection-product p {
    margin-top: 5px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;

}

.collection-linking {
    width: 100%;
}

.collection-linking p {
    padding: 20px;
    font-size: 11px;
    text-align: center;
}

.shop-box {
	display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
.footer {
    width: 100%;
    height: 219.66px;
}