<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contact/contact.css">
    <title>stussy-contact</title>
    <th:block th:replace="/fragment/head"></th:block>
    <th:block th:replace="/fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="/fragment/header"></th:block>
    <div id="wrap">
        <div class="contact-main">
            <h2>CUSTOMER SUPPORT</h2>
            <div class="contact-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">내 계정</a></li>
                        <li><a href="#">문의</a></li>
                        <li><a href="#">배송지연안내</a></li>
                        <li><a href="#">주문 및 배송정보</a></li>
                        <li><a href="#">장바구니</a></li>
                    </ul>
                </nav>
                <div class="contact-content">
                    <h1>CONTACT US</h1>
                    <input type="text" maxlength="10" id="input-name" placeholder="이름">
                    <div class="input-box">
                        <input type="email" id="input-email" placeholder="이메일">    
                        <input type="text" id="input-order" placeholder="주문번호">
                    </div>
                    <div class="contact-choice">
                        <select name="" id="">
                            <option value="">Please Select</option>
                            <option value="">문의사항을 선택해주세요</option>
                            <option value="">주문상태</option>
                            <option value="">반품</option>
                        
                            <option value="">주소변경</option>
                            <option value="">배송조회</option>
                            <option value="">오류문의</option>
                            <option value="">기타</option>
                        </select>
                    </div>
                    <textarea name="" id="" cols="30" rows="10" placeholder="내용을 입력해주세요"></textarea>
                    <button type="submit">확인</button>
                    <div class="contact-info1">
                        <p>상품 문의 및 서비스 관련 또는 궁금하신 사항이 있으시다면 연락 바랍니다. 자세한 정보는 <a href="#">자주하는 질문</a> 페이지에서 확인하실 수 있습니다.</p>
                        <ul>
                            <li><a href="">STUSSY.CO.KR </a> 온라인으로 구매하신 모든 상품의 문의 및 반품은 온라인으로만 처리가 가능합니다. </li>
                            <li>정확한 주문번호 (Order #XXXXX) 와 주문자 명을 함께 기재해 주세요. </li>
                            <li>일부 문의는 정상 접수가 되지 않는 경우가 있으므로 고객님 개인 이메일을 통해 스투시 고객 서비스 팀으로 언제든지 문의해 주세요. </li>
                            <li>전화 상담 서비스는 지원되지 않습니다. 모든 문의는 아래 이메일 주소를 통해서만 가능합니다.</li>
                            <li>이메일 접수 후 48-72시간 이내 회신 (토/일 및 공유일 제외) 을 드리고자 노력하고 있습니다.</li>
                        </ul>
                        <p>반품 관련 문의는 <a href="">반품 및 환불 규정</a> 페이지를 클릭해서 신청하실 수 있습니다. </p>
                    </div>
                    <div class="contact-info2">
                        <p>관련된 정보는 <a href="">SUPPORT@STUSSY.CO.KR</a> 로 영업일 오전 9시부터 오후 4시까지 문의해 주세요.</p>
                    </div>
                    <div class="contact-info3">
                        <p>Korea Tribe, Inc.</p>
                        <p>Stussy Korea</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/fragment/footer"></th:block>
</body>
</html>