<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contact/information.css">
    <title>stussy-contact</title>
    <th:block th:replace="fragment/head"></th:block>
    <th:block th:replace="fragment/footer-head"></th:block>
</head>
<body>
    <th:block th:replace="fragment/header"></th:block>
    <div id="wrap">
        <div class="delivery-main">
            <h2>CUSTOMER SERVICE</h2>
            <div class="delivery-box">
                <nav class="menu-list">
                    <ul>
                        <li><a href="#">내 계정</a></li>
                        <li><a href="#">문의</a></li>
                        <li><a href="#">배송지연안내</a></li>
                        <li><a href="#">주문 및 배송정보</a></li>
                        <li><a href="#">장바구니</a></li>
                    </ul>
                </nav>
                <div class="delivery-content">
                    <h1>SHIPPING INFORMATION</h1>
                    <div class="delivery-info">
                        <p>
                            <b>배송안내</b>
                            <br>
                            주문 폭주로 인해 배송이 지연될 수 있는 점 참고 부탁드립니다.
                        </p>
                        <ul>
                            <li>평소보다 3-5일 정도 소요 예정 (토요일, 공휴일 제외) 입니다.</li>
                            <li>최대한 빨리 출고할 수 있도록 노력하겠습니다.</li>
                        </ul>
                        <p>
                            <b>결제가이드</b>
                        </p>
                        <ul>
                            <li><a href="">STUSSY.CO.KR</a> 에서 신용카드 / 실시간 계좌이체 방식으로 결제 가능합니다. </li>
                            <li>맥에서는 결제가 원활하지 않을 수 있으며, 윈도우와 인터넷 익스플로러에 최적화되어 있습니다.</li>
                        </ul>
                        <p>
                            <b>주문 내역</b>
                            <br>
                            <a href="">STUSSY.CO.KR</a> 에서 접수된 주문건은 평일 오전 9시부터 오후 4시까지 (공휴일 제외) 처리 되며, 접수일로부터 1-2 영업일 내로 출고됩니다.  
                        </p>
                        <ul>
                            <li>주문이 접수 되었을때 결제 내역과 주문번호가 기재된 확인서가 메일로 전송됩니다.</li>
                            <li>상품이 출고되는대로 운송장 정보가 담긴 안내 메세지를 발송해드리고 있습니다.</li>
                            <li>메일을 못받으셨다면 스팸 메일함을 확인 부탁드립니다.  </li>
                        </ul>
                        <p>
                            <b>배송 상태</b>
                        </p>
                        <ul>
                            <li>공휴일에 따라 배송 시간에 영향을 받을 수 있는 점, 고객님의 양해를 구합니다.</li>
                            <li>기본 배송일보다 더욱 여유있는 배송기간 예상 부탁드립니다.</li>
                        </ul>
                        <p>
                            <b>배송비</b>
                        </p>
                        <ul>
                            <li>7만원 이하의 주문건 배송비 2500원</li>
                            <li>7만원 이상 무료배송 (Nike 제외)</li>
                        </ul>
                        <p>
                            <b>반품</b>
                            <br>
                            자세한 반품 관련 규정은 반품 및 교환 문의 로 방문해주세요.
                        </p>
                        <p>
                            <b>주문 취소</b>
                            <br>
                            주문 취소를 요청할 때의 상황에 따라 취소 불가할 수 있습니다. 
                        </p>
                        <ul>
                            <li>상품이 출고 또는 배송되기 전까지 주문 취소가 가능합니다.</li>
                            <li>출고 준비가 완료된 주문과 배송 단계에 있는 주문건의 경우 취소가 불가할 수 있습니다.</li>
                            <li>주문이 취소된 경우, 환불까지 2-3 영업일이 소요됩니다. 이후에도 환불처리 되지 않을 시, 고객 센터 로 연락 바랍니다.</li>
                            <li>취소 관련 문의는 <a href="">SUPPORT@STUSSY.CO.KR</a> 로 영업일 오전 9시부터 오후 4시까지 문의해주시기 바랍니다.</li>
                        </ul>
                        <p>
                            <b>결제 내역서와 주문 확인서</b>
                        </p>
                        <ul>
                            <li>각 주문마다 상세 내역을 확인할 수 있습니다. </li>
                            <li>“주문 완료” 메일을 수신하더라도 주문 확정이나 상품 재고 상황에 변동이 있을 수 있습니다. </li>
                            <li>출고 및 배송 확인서를 받는 시점부터 주문이 정상 처리된 것이오니 참고 바랍니다.</li>
                        </ul>
                        <p>
                            <b>관련된 정보는 <a href="">SUPPORT@STUSSY.CO.KR</a> 로 영업일 오전 9시부터 오후 4시까지 문의해 주시기 바랍니다.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragment/footer"></th:block>
</body>
</html>