<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/contact/support.css">
    <title>stussy-support</title>
</head>
<body>
    <div id="wrap">
        <div class="support-main">
            <h2>support</h2>
            <div class="support-box">
                <nav class="menu-list">
                    <ul>
                        <ul>
                            <li><a href="#">내 계정</a></li>
                            <li><a href="#">문의</a></li>
                            <li><a href="#">배송지연안내</a></li>
                            <li><a href="#">주문 및 배송정보</a></li>
                            <li><a href="#">장바구니</a></li>
                        </ul>
                    </ul>
                </nav>
                <div class="support-content">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>